<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start"><ion-back-button color="medium"></ion-back-button></ion-buttons>
    <div class="cabecera">
      <img src="/assets/images/escudo.png" alt="">
      <img src="/assets/images/gobciudad.png" alt=""> 
      <img src="/assets/images/unidoscrecemos.png" alt="">
    </div>
    </ion-toolbar>
  </ion-header>

<ion-content>
    <ion-button (click)="this.leafletMap()" id="btnmapa" class="btnmapa" >Ver Mapa</ion-button>
    <div id="mimapa"></div>
</ion-content>
