<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start"><ion-back-button color="medium"></ion-back-button></ion-buttons>
  <div class="cabecera">
    <img src="/assets/images/escudo.png" alt="">
    <img src="/assets/images/gobciudad.png" alt=""> 
    <img src="/assets/images/unidoscrecemos.png" alt="">
  </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-grid *ngIf="nrocat>0">
    <ion-row *ngFor="let x of nros;let i=index">
      <ion-col [routerLink]="['/eventos',datos[2*i].portada,mes,datos[2*i].id,datos[2*i].nombre]"><img src="{{datos[2*i].imagen}}" alt=""><div>{{datos[2*i].nombre}}</div></ion-col>
      <ion-col [routerLink]="['/eventos',datos[x+i].portada,mes,datos[x+i].id,datos[x+i].nombre]" *ngIf="(x+i)<nrocat"><img src="{{datos[x+i].imagen}}" alt=""><div>{{datos[x+i].nombre}}</div></ion-col>
    </ion-row>
  </ion-grid>
  <ion-card *ngIf="nrocat==0">
    <ion-card-content>
      Sin Eventos para este mes
    </ion-card-content>
  </ion-card>
  <div class="gestion"><div>{{gestion}}</div></div>
  <div class="mes"><div>{{meses[mes]}}</div></div>
</ion-content>
