<ion-header>
  <ion-toolbar>
  <div class="cabecera">
    <img src="/assets/images/escudo.png" alt="">
    <img src="/assets/images/gobciudad.png" alt=""> 
    <img src="/assets/images/unidoscrecemos.png" alt="">
  </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col><img src="/assets/images/danza.png" alt=""><div>Danza</div></ion-col>
      <ion-col><img src="/assets/images/musica.png" alt=""><div>Música</div></ion-col>
    </ion-row>
    <ion-row>
        <ion-col><img src="/assets/images/teatro.png" alt=""><div>Teatro</div></ion-col>
        <ion-col><img src="/assets/images/cine.png" alt=""><div>Cine</div></ion-col>
    </ion-row>
    <ion-row>
        <ion-col><img src="/assets/images/sociedad.png" alt=""><div>Sociedad</div></ion-col>
        <ion-col><img src="/assets/images/literatura.png" alt=""><div>Literatura</div></ion-col>
    </ion-row>
    <ion-row>
        <ion-col><img src="/assets/images/exposiciones.png" alt=""><div>Exposiciones</div></ion-col>
        <ion-col><img src="/assets/images/especiales.png" alt=""><div>Especiales</div></ion-col>
    </ion-row>
  </ion-grid>
  <div class="gestion"><div>2019</div></div>
  <div class="mes"><div>MARZO</div></div>
</ion-content>
