<ion-content no-bounce>
    <ion-fab vertical="top" horizontal="end">
      <ion-fab-button color="dark" size="small" >
          <ion-icon ios="ios-share" md="md-share"></ion-icon>
      </ion-fab-button>
      <ion-fab-list side="bottom">
          <ion-fab-button>
              <ion-icon ios="logo-whatsapp" md="logo-whatsapp" (click)="abreWhatsApp()"></ion-icon>
          </ion-fab-button>
          <ion-fab-button>
              <ion-icon ios="logo-facebook" md="logo-facebook" (click)="abreFace()"></ion-icon>
          </ion-fab-button>
      </ion-fab-list>
    </ion-fab>
    <div class="txtcentral">
        <div>
          <div>AGENDA</div>
          <div>Cultural</div>
        </div>
    </div>
    <div class="page-centered-element">
      <div class="contenido">
        <!-- <div class="divimg"><img src="/assets/images/artex.png" alt=""></div> -->
        <div class="divimg"><img src="{{imgfondo}}" alt=""></div>  
        <!-- <div class="social">
          <div class="whatsapp"><img src="/assets/images/whatsapp.png" alt="" (click)="abreWhatsApp()"></div>
          <div class="face"><img src="/assets/images/facebook.png" alt="" (click)="abreFace()"></div>
        </div> -->
        <div class="meses">
          <div class="m{{i+1}}" *ngFor="let uno of nroeventosmes; let i=index" >
            <div class="a" *ngIf="i<6"></div>
            <div class="redondoa" [routerLink]="['/menu',i+1,gestion]" *ngIf="i<6 && nroeventosmes[i+1]>0">{{meses[i+1]}}</div>
            <div class="redondoa nada" *ngIf="i<6 && nroeventosmes[i+1]===0">{{meses[i+1]}}</div>
          </div>
        </div>
        
        <div class="meses2">
            <div class="m{{i+7}}" *ngFor="let uno of nroeventosmes2; let i=index" >
                <div class="b" *ngIf="i<6"></div>y
                <div class="redondob" [routerLink]="['/menu',i+7,gestion]" *ngIf="i<6 && nroeventosmes2[i+1]>0">{{meses[i+7]}}</div>
                <div class="redondob nada" *ngIf="i<6 && nroeventosmes2[i+1]===0">{{meses[i+7]}}</div>
            </div>
            
        </div>
        <div class="gestion"><div>{{this.gestion}}</div></div>
        <div class="concursos" routerLink="/concursos"> CONCURSOS</div>
      </div>
    </div>
    
  </ion-content>