<ion-content>
    <div class="page-centered-element">
      <div class="contenido">
        <div class="divimg"><img src="/assets/images/artex.png" alt=""></div>
        <div class="meses">
          <div class="m1">
            <div class="a"></div>
            <div class="redondo" routerLink="/menu">ENE</div>
          </div>
          <div class="m2">
            <div class="a"></div>
            <div class="redondo">FEB</div>
          </div>
          <div class="m3">
            <div class="a"></div>
            <div class="redondo">MAR</div>
          </div>
          <div class="m4">
            <div class="a"></div>
            <div class="redondo">ABR</div>
          </div>
          <div class="m5">
              <div class="a"></div>
              <div class="redondo">MAY</div>
          </div>
          <div class="m6">
            <div class="a"></div>
            <div class="redondo">JUN</div>
          </div>
        </div>
        <div class="meses2">
            <div class="m7">
              <div class="a"></div>
              <div class="redondo">JUL</div>
            </div>
            <div class="m8">
              <div class="a"></div>
              <div class="redondo">AGO</div>
            </div>
            <div class="m9">
              <div class="a"></div>
              <div class="redondo">SEP</div>
            </div>
            <div class="m10">
              <div class="a"></div>
              <div class="redondo">OCT</div>
            </div>
            <div class="m11">
                <div class="a"></div>
                <div class="redondo">NOV</div>
            </div>
            <div class="m12">
              <div class="a"></div>
              <div class="redondo">DIC</div>
            </div>
          </div>
          <div class="gestion"><div>2019</div></div>
      </div>
    </div>
    
  </ion-content>