<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start"><ion-back-button color="medium"></ion-back-button></ion-buttons>
  <div class="cabecera">
    <img src="/assets/images/escudo.png" alt="">
    <img src="/assets/images/gobciudad.png" alt=""> 
    <img src="/assets/images/unidoscrecemos.png" alt="">
  </div>
  </ion-toolbar>
  
</ion-header>

<ion-content>
  <div class="fondox">
  <div class="portada">
    <img src="{{this.portada}}" alt="">
    <div class="titportada">
      <div>{{this.nombre}}</div>
      <div>{{this.nroeventos}} Eventos</div>
    </div>
  </div>
  <ion-grid>
    <ion-row *ngFor="let unevento of datos;let i=index" >
      <ion-col size="10">
        <div [routerLink]="['/mapa',unevento.coordenadas,unevento.nombre,unevento.descripcion1,unevento.descripcion2,unevento.extra]">
          <div>{{unevento.nombre}}</div>
          <div>{{unevento.descripcion1}}</div>
          <div>{{unevento.descripcion2}}</div>
          <div *ngIf="unevento.extra!='vacio'" class="extra">{{unevento.extra}}</div>
        </div>
        <div class="enlace" *ngIf="unevento.link_txt!=null && unevento.link_url!=null && unevento.link_txt!='null' && unevento.link_url!='null' && unevento.link_txt!='' && unevento.link_url!=''">&#9654; <a href="{{unevento.link_url}}">{{unevento.link_txt}}</a> </div>
      </ion-col>
      <ion-col size="2"><img src="/assets/images/marcador.png" alt="" [routerLink]="['/mapa',unevento.coordenadas,unevento.nombre,unevento.descripcion1,unevento.descripcion2,unevento.extra]"></ion-col>
    </ion-row>
  </ion-grid>
</div>
</ion-content>
