<ion-content>
  <div class="page-centered-element">
    <div class="contenido">
      <div class="escudo"><img src="/assets/images/escudo.png" alt="" ></div>
      <div class="gobciudad"><img src="/assets/images/gobciudad.png" alt="" ></div>
      
      <div class="espacio"></div>
      <img src="/assets/images/unidoscrecemos.png" alt="" class="unidos">
    </div>

  </div>
  <!-- <ion-button expand="full" routerLink="/agenda" class="btncomenzar" color="secondary">Comenzar</ion-button> -->
</ion-content>
