.page-centered-element {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .contenido {
    text-align: center;
    display: inline-block;
    padding: 5em;
  }
  .buttons-container {
    margin-top: 30px;
  }
  .escudo{
    width: 80%;
    margin: auto;
  }
  .espacio{
      height: 5em;
      width: 100%;
  }
  .gobciudad{
      margin-top: 0.3em;
      width: 90%;
      margin: auto;
  }
  .btncomenzar{
      position: absolute;
      bottom: 0;
      width: 100%;
  }